spring:
  profiles: container
    datasource:
      url: jdbc:mysql://mysql:3306/velatech?useUnicode=true&useLegacyDatetimeCode=false&serverTimezone=UTC&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false